body{
  background-color: black !important;
}

nav{
  margin-bottom: 4.5%;
}

#contentBody{
  height: 1200px;
}

/*Header*/

#logo{
  float: left;
  position: absolute;
  top: -30px;
  max-width: 132px;
  max-height: 132px;
}

#logoBox{
  border-right: 2px solid rgb(105,105,105);
  width: 150px;
  height: 70px;
}

#headerSeparatorBox{
  top: 0%;
}

#sessionLinksBox{
  position: absolute;
  font-weight: normal;
  top: 1%;
  left: 76%;
}

#sessionSeparatorBox{
  width: 2px;
  height: 50px;
  background-color: rgb(105, 105, 105);
  left: 91%;
  top: 2%;
  position: absolute;
}

#languageSelectorBox{
  width: 6.3%;
  left: 92%;
  top: 3%;
  position: absolute;
}

#navBar{
  width: 270px;
  height: 20px;
  left: 37%;
  position: absolute;
  top: 17%;
  z-index: 0;
}
#navBar a{
  padding-right:10px;
}

#navBarSelector{
  width: 70px;
  height: 25px;
  position: absolute;
  top: -25%;
  left: -7%;
  border-radius: 40%;
  z-index: -1;
  background-color: rgb(250, 221, 144);
}

.sessionLink, .navLink, .footerLink{
  color: white;
}

.sessionLink:hover, .navLink:hover, .footerLink:hover{
  color: gray;
}

.navLinkSelected{
  color: black;
}

/*HeaderEnd*/

/*Body*/
#principalContainer{
  background: rgb(250, 221, 144) none repeat scroll 0% 0%;
  position: absolute;
  width: 780px;
  height: 1120px;
  border-radius: 12px 0px 12px 12px;
  top: 185px;
  left: 170px;
  border: 1px solid rgb(0, 0, 0);
}

#searchBox{
  width: 45px;
  height: 45px;
  position: absolute;
  left: 906px;
  top: 145px;
  z-index: 1;
  background-color: rgb(250, 221, 144);
  border-radius: 12px 12px 0px 0px;
}

#searchBox img{
  max-width: 40px;
  max-height: 40px;
}

#last20Container{
  top: 25px;
  height: 538px;
}

#mostSearchedContainer{
  left: 55px;
  top: 600px;
}

#topFreeContainer{
  top: 868px;
}

#last20Title{
  font-size: 200%;
}

#last20TitleBox{
  height: 10%;
}

.bodySeparatorBox{
  width: 57%;
  height: 95px;
  border-bottom: 2px solid rgb(105,105,105);
  left: 18%;
  position: absolute;
}

.gamesContainer{
  left: 55px;
  width: 660px;
}

.container{
  background-color: rgb(149,122,116);
  position: absolute;
  border: 1px solid black;
  border-radius: 2%;
}

.littleContainer{
  width: 695px;
  height: 230px;
}

.titleBox{
  width: 100%;
  background-color: rgb(250,210,83);
  border-bottom: 1px solid black;
  border-radius: 10px;
  position: absolute;
}

.title{
  font-weight: lighter;
  left: 2%;
  top: 6%;
  position: absolute;
}

.littleTitleBox{
  height: 15%;
}

.littleTitle{
  font-size: 150%;
}

/*Aside*/
#ranksContainer{
  left : 980px;
  top: 145px;
  width: 340px;
  height: 900px;
}

#ranksTitleBox{
  height: 5%;
}

#ranksTitle{
  font-size: 170%;
}

#rank1{
  top:7%;
}

#rank2{
  top:30%;
}

#rank3{
  top:53%;
}

#rank4{
  top:76%;
}

.rankBox{
  width: 292px;
  height: 184px;
  position: absolute;top: 7%;
  left: 7%;
  background-color: rgb(66,66,66);
  border-radius: 4%;
}

.rankGameTitleBox{
  width: 60%;
  padding: 2%;
  left: 1%;
  position: absolute;
}

.rankGameTitle{
  color: white;
  font-size: 27px;
}

.rankDescriptionBox{
  position: absolute;
  top: 25%;
  left: 4.2%;
  width: 90%;
}

.rankDescription{
  font-size: 16px;
  margin: 0px;
}

.rankOptionsList{
  left: 2%;
  top: 87%;
  font-size: 13px;
  position: absolute;
}

.rankStarsBox{
  width: 160px;
  height: 20px;
  left: 47%;
  top: 87%;
  position: absolute;
}

.rankStar{
  max-width: 19px;
  max-height: 19px;
}



/*AsideEnd*/

.row1{
  top: 65px;
}

.row2{
  top: 291px;
}

.gameCardsRow{
  left: 1.7%;
  position: absolute;
  width: 640px;
  height: 205px;
}

.littleGameCardsRow{
  top: 18%;
  position: absolute;
  width: 707px;
  height: 170px;
}

.gameCardsList{
  left: 10%;
  position: absolute;
}

.littleGameCardsList{
  left: 3.5%;
  top: 5%;
  position: absolute;
}

.bigGameCard{
  width: 155px;
  height: 205px;
}

.littleGameCard{
  width: 116px;
  height: 145px;
  position: absolute;
}

.gameCard{
  background-color: rgb(66,66,66);
  position: absolute;
  top: 0px;
  border: 1px solid black;
  transition: transform 0.5s;
}

.gameCard:hover{
  transform: scale3d(1.2,1.2,1.2) rotateY(360deg);
}

.gameCardItem{
  margin-right: 160px;
}

.gameTitleBox{
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
}

.gameTitle{
  padding: 5px;
  position: absolute;
  font-weight: bold;
  color: white;
  font-style: normal;
  font-size: 100%;
}

.littleGameTitle{
  left:0%;
}

.littleGameDescription{
  top: 45%;
  position: absolute;
}

.bigGameTitle{
  left: 10%;
}

.gameCover{
  width: 100%;
}

.gameCover img{
  max-width: 100%;
}

.gameOptionsList{
  position: absolute;
}

.bigGameOptionsList{
  left: 18%;
  top: 90%;
  font-size: 15px;
}

.littleGameOptionsList{
  font-size: 9.2px;
  left:20%;
  top: 90%;
}

.gameOptionsList li{
  padding-right: 6px;
  padding-left: 0px;
}

.gameOptionsList li a{
  text-decoration: none;
  color: rgb(23,136,197);
}

.gameOptionsList li a:hover{
  color: rgb(73,186,247);
}

.gameOptionsList li:not(:last-child) {
  border-right: 1px solid rgb(23,136,197);
}

.rightArrow{
  left: 92.4%;
  transform: rotate(180deg);
}

.navArrow{
  top: 47%;
  position: absolute;
  max-width: 50px;
  max-height: 50px;
}

.littleNavArrow{
  top: 47%;
  position: absolute;
  max-width: 20px;
  max-height: 20px;
}

.littleRightArrow{
  left: 97%;
  transform: rotate(180deg);
  position: absolute;
}

.sliderList{
  left:40%;
  top: 95%;
  position: absolute;
}

.littleSliderList{
  left: 44%;
  top: 92%;
  position: absolute;
}

.slideDot{
  max-width: 20px;
  max-height: 20px;
}

.littleSlideDot{
  max-width: 10px;
  max-height: 10px;
}

.linksList{
  margin-top: 20px;
}

.linksList li:not(:last-child) {
  border-right:1px solid white;
  padding-right:10px;
}

/*Footer*/

#footerSeparatorBox{
  top:190%;
  z-index: 2;
}

#footerLinksBox{
  position: absolute;
  top: 204%;
  left: 26%;
}

#footerInfoBox{
  width: 450px;
  height: 24px;
  position: absolute;
  top: 212%;
  left: 30%;
}

#footerInfo{
  color: rgb(117, 117, 117);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: lighter;
}


li{
  display: inline-block;
}

a{
  display: block;
  text-decoration: none;
}

ul li:not(:first-child) {
  padding-left:10px;
}

p{
  color: white;
}
